* {
  margin: 0;
  padding: 0;
}

body {
  background: #5e73ae;
}

nav {
  width: 100vw;
  height: 120px;
}

.nav-menu {
  list-style: none;
  display: flex;
  position: fixed;
  background-color: navy;
  width: 100vw;
}

.logo-img {
  margin: 15px;
}

.search-box {
  right: 5%;
  top: 1%;
  border: 2px solid white;
  color: white;
  position: absolute;
  height: 40px;
  border-radius: 40px;
  padding: 0px;
  margin-top: 20px;
}

.search-txt::placeholder {
  color: lightgray;
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  background-color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: black;
  cursor: pointer;
}

.search-btn > i {
  font-size: 30px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 120px;
  font-weight: bold;
  padding-left: 10px;
}

.error-message {
  text-align: center;
}
.pop-container {
  display: flex;
  flex-direction: column;
  background: #5e73ae;
  width: 320px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 17px;
  box-shadow: -4px -4px 6px rgba(127, 150, 215, 0.34),
    4px 4px 6px rgba(46, 62, 106, 0.25);
}

.logo-text {
  margin-top: 35px;
}
.logo-text > h3 {
  display: none;
  font-size: 1.3em;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #dbe0ee;
  line-height: 5px;
}
.pop-container > h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  color: #dbe0ee;
  padding: 10px;
}

.pop-list-container {
  padding: 5px;
  justify-content: left;
  margin: 10px;
  border-radius: 5px;
}

.pop-list-container > li {
  list-style: none;
  text-decoration: none;
  flex-direction: row;
}

.pop-list-container:hover {
  box-shadow: -4px -4px 6px rgba(127, 150, 215, 0.34),
    4px 4px 6px rgba(46, 62, 106, 0.25);
}

.pop-item {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.p-container {
  border-radius: 15px;
}
.p-container > p {
  padding-top: 23px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  color: #dbe0ee;
}

.pop-list-img {
  justify-items: right;
  height: 75px;
  width: 75px;
}

a:link {
  text-decoration: none;
}

.banner-text {
  max-width: 100vw;
  height: 100px;
  background: #bec5d8;
  color: navy;
  margin: 5% auto;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 15px;
}

.banner-text > p {
  font-size: 1.5em;
  max-width: 800px;
}

.alcohol-search {
  text-align: center;
  margin: 30px;
  margin-top: 20px;
  font-size: 0.8em;
}

.grid-container {
  text-align: center;
  left: 0;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.item {
  background: transparent;
  padding: 10px;
  border-radius: 15px;
  box-shadow: -4px -4px 6px rgba(127, 150, 215, 0.34),
    4px 4px 6px rgba(46, 62, 106, 0.25);
}

ul {
  padding: 0;
  margin: 0;
}

.recipe-list-img {
  height: 50px;
  width: 50px;
}
.liquor-img {
  width: 70px;
  height: 90px;
}

#liquor-list {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

#search-container {
  margin-top: 25px;
  padding-top: 30px;
  height: 700px;
  display: grid;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px 1fr 1fr 50px;
  border-radius: 15px;
  box-shadow: -4px -4px 6px rgba(127, 150, 215, 0.34),
    4px 4px 6px rgba(46, 62, 106, 0.25);
}

.img-div {
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
  place-self: center;
}

#main-measurements,
#main-ingredients {
  list-style-type: none;
}

#main-measurements > li:first-child,
#main-ingredients > li:first-child {
  visibility: hidden;
}

.recipe-title {
  grid-column: 1/3;
  justify-self: center;
  place-self: center;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: #dbe0ee;
  text-transform: uppercase;
}

.measure-container,
.ingredient-container {
  grid-row: 4/5;
  justify-self: center;
  place-self: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #dbe0ee;
}

.directions-container {
  grid-column: 1/3;
  grid-row: 5/6;
  text-align: center;
  padding: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #dbe0ee;
}

.return-btn {
  grid-row: 6/7;
  grid-column: 1/3;
  justify-self: center;
}

#return-btn {
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

#return-btn:hover {
  background-color: white;
  color: black;
}

.recipe-img {
  height: 300px;
  width: 300px;
}
.liquor-li {
  display: flex;
  border-radius: 15px;
  box-shadow: -4px -4px 6px rgba(127, 150, 215, 0.34),
    4px 4px 6px rgba(46, 62, 106, 0.25);
  max-width: 320px;
  margin: 10px;
  padding: 5px;
}

.liquor-li > h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #dbe0ee;
  padding-left: 15px;
}

.item > h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #dbe0ee;
}

h2 {
  color: #dbe0ee;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .search-box {
    margin-top: 20px;
  }

  .pop-container {
    width: 450px;
  }

  .logo-text > h3 {
    display: unset;
    font-size: 1.3em;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #dbe0ee;
    margin-top: 40px;
    line-height: 5px;
  }

  .liquor-li {
    max-width: 450px;
  }

  #liquor-list {
    max-width: 450px;
  }
}
