* {
  margin: 0;
  padding: 0;
}

body {
  background: #6d7070;
}

nav {
  width: 100vw;
  height: 70px;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.search-box {
  right: 2%;
  top: 1%;
  border: 2px solid white;
  color: white;
  position: absolute;
  height: 40px;
  border-radius: 40px;
  padding: 0px;
}

.search-box:hover > .search-txt {
  width: 180px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  background-color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: black;
  cursor: pointer;
}

.search-btn > i {
  font-size: 30px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

#search-container {
  display: flex;
}

.pop-container {
  width: 60%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.list-group {
  display: flex;
  flex-direction: column;
}

.banner-text {
  width: 100vw;
  height: 150px;
  background: darkgrey;
  color: white;
  padding: 25px;
  margin: 5% auto;
}

.alcohol-search {
  text-align: center;
}

.grid-container {
  text-align: center;
  width: 40%;
  height: 40%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3em;
}

.item {
  background: transparent;
  border: 2px solid black;
  padding: 25px;
}

ul {
  padding: 0;
  margin: 0;
}

.recipe-list-img {
  height: 50px;
  width: 50px;
}

.liquor-li {
  display: flex;
  border: 2px solid black;
  width: 400px;
  margin: 10px;
}
/* .item-one {
}
.item-two {
}
.item-three {
}
.item-four {
}
.item-five {
}
.item-six {
} */
